<template>
    <div slot="main-content">
            <require from="materialize-css/dist/css/materialize.css"></require>   
        <require from="nprogress/nprogress.css"></require>
        <h1>Counter 2</h1>

        <p>This is a simple example of an Aurelia component.</p>

        <p>Current count: <strong>${state.value}</strong></p>

        <button click.delegate="incrementCounter()">Increment</button>
        <button click.delegate="decrementCounter()">Decrement</button>
        <button click.delegate="callServer()">Call server</button>
    </div>
</template>
